.truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .faq{
    @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');
  }
 .container-fluid{
     width: 40%;
    margin: 0 auto;
    margin-top: 100px;
 }
 .container-fluid h2{
    font-size: larger;
    color: palevioletred;
    position: relative;
    width: 23rem;
 }
 .container-fluid h2::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 12px;
    width: 67px;
    height: 2px;
 }
 .according {
    width: 100%;
    padding: 0 5px;
    border: 2px solid #6db5ff;
    cursor: pointer;
    border-radius: 50px;
    display: flex;
    margin: 10px 0;
    align-items: center;
 }
 .according .icon{
    margin: 0 10px 0 0;
    width: 30px;
    height: 30px;
    background: url(images/toggle-bg.png) no-repeat 8px 7px #6db5ff;
    border-radius: 50%;
    float: left;
    transition: all .5s ease-in;
 }
 .according h5{
    font-size: 18px;
    margin: 0;
    padding: 3px 0 0 0;
    font-weight: normal;
    color: #1f5c9a;
 }
 .panel{
    padding: 0 15px;
    border-left: 1px solid #6db5ff;
    margin-left: 25px;
    font-size: 14px;
    text-align: justify;
    overflow: hidden;
    max-height: 300;
    transition: all .5s ease-in;
 }
